@{
    ViewData["Title"] = "Education Details";
}
<h3>@ViewData["Title"]</h3>

<p>This pages tells about the Education details.</p>
<p>You can check my profile on: <a href="https://www.linkedin.com/in/ishaan-bansal-me26/">Linkedin</a></p>
